@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --fBN: 'Bebas Neue', cursive;
    --ubuntu: 'Ubuntu', sans-serif;
    --poppins: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #55667e; 
    height: 100%;
}
* {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    outline: none;
}
.container {
    background: #343F4F;
    height: 100vh;
    width: 30rem;
    border-right: 2px solid white;
    position: fixed;
    
    /* display: flex;
    flex-wrap: wrap; */
}
.main_body {
    background-color: #343F4F; 
    height: 100%;
    width: 79.%; 
    margin-left: 30rem;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    
}
a {
    text-decoration: none;
}
.h1 {
    margin: 1rem 2rem;
    font-family: var(--ubuntu);
    color: rgb(228, 228, 228);
    letter-spacing: .2rem;
    font-size: 5rem;
    user-select: none;
    cursor: pointer;
   
}
.h1:hover {
    color: rgba(62, 255, 255, 0.801);
    
}

.menu {
    
    height: 48rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
}
.btn {
    margin: 2rem;
    height: 5rem;
    width: 15rem;
    font-family: var(--fBN);
    letter-spacing: .2rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    transition: 0.2s linear;
    overflow: hidden;
    color: white;
    border: .2rem rgb(255, 255, 255) solid;
    border-radius: 20px;
}
.btn:hover {
    box-shadow: 0 0 2rem cyan;
    transition-delay: 0.1s;
    color: black;
    border-color: black;
    background-color: cyan;
}
/* .bth1 {
    position: relative;
}
.bth2 {
    position: relative;
}
.bth3 {
    position: relative;
} */

.bttns {
    display: flex;
    height: 75%;
    width: 100%;
    /* background-color: red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.search {
    display: flex;
    justify-content: center;
   
}
.srch {
    background: none;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-left: .1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: .2rem solid rgb(255, 255, 255);
    background: none;
    color: white;
    cursor: pointer;
    transition: 0.2s linear;
    
}
.srch:hover {
    box-shadow: 0 0 2rem cyan;
    
    color: black;
    border-color: black;
    background-color: cyan;
}
.srch1 {
    border: .2rem solid rgb(255, 255, 255);
    background: none;
    color: rgb(221, 221, 221);
    text-align: center;
    font-weight: bold;
    border-radius: 1rem;
}
img {
    font-family: var(--ubuntu);
    color: white;
    font-size: 2rem;
}
.footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    
}
.foot_copy {
    text-align: center;
    font-family: var(--fBN);
    letter-spacing: .2rem;
    font-weight: 10%;
    user-select: none;
}
.icons   {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.icon {
    color: 2white;
    font-size: 2.5rem;
    font-family: var(--ubuntu);
    margin: 1rem;
    color: white;
    cursor: pointer;
}
.home {
    width: 100%;
    background-color: rgba(226, 226, 226, 0.301);
    height: 79.5rem;
    display: flex;
    flex-direction: column;
    
}
.h1_1body {
    color: rgb(255, 255, 255);
    font-family: var(--ubuntu);
    font-size: 6rem;
    text-align: center;
    font-style: italic;
    user-select: none;
    transform: translateY(300%);
}
.itz {
    color: rgb(255, 83, 52);
}
.text {
    align-self: center;
    background-color: transparent;
    width: 60rem;
    height: 30rem;
    transform: translateY(90%);
    display: flex;
    justify-content: center;
    align-content: center;
    user-select: none;
}
.warper {
    display: inline-flex;
}
.warper .static_text {
    color: #fff;
    font-size: 6rem;
    font-family: var(--poppins);
}
.warper li {
    list-style: none;
    font-size: 6rem;
    font-family: var(--poppins);
    color: #FC6D6D;
}
.replaceing_text {
    margin-left: 1.5rem;
}
.replaceing_text li span {
    position: relative;
}
.replaceing_text li span::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: .2rem solid #FC6D6D;
    animation: type 0.4s steps(9)
}








